.Project {
  width: 55vw;
  height: 80vh;
  margin-top: 10vh;
  position: fixed;
  overflow: hidden;
  opacity: 0;
  transform: translateX(100vw);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Project__content {
  width: 55vw;
  height: 65vh;
  position: fixed;
  display: flex;
  flex-direction: column;
}
.Project__content__info {
  width: 55vw;
  display: flex;
  justify-content: space-between;
  padding-left: 4vh;
  padding-right: 4vh;
}
.Project__content__info__buttons {
  width: auto;
  height: auto;
  margin-top: 4vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.Project__content__info__buttons__button {
  width: 25vh;
  height: 5vh;
  border: none;
  border-radius: 1vh;
  background-color: rgb(153, 1, 153);
  cursor: pointer;
  font-size: 2vh;
}
.Project__content__info__screenShotViewer {
  width: 65vh;
  height: 35vh;
  margin-top: 4vh;
  position: relative;
  z-index: 1000;
  border-radius: 2vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  transition: background 250ms;
  will-change: background;
  background-color: transparent;
  padding-bottom: 3vh;
}
.Project__content__info__screenShotViewer .img {
  position: absolute;
  width: 65vh;
  height: 35vh;
  z-index: 10;
  transform: translateY(3vh);
  background-size: cover;
  background-position: center;
}
.Project__content__info__screenShotViewer .dots {
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  width: 20vh;
  z-index: 15;
}
.Project__content__info__screenShotViewer .dots .dot {
  width: 3vh;
  height: 3vh;
  border-radius: 50%;
  cursor: pointer;
}
.Project__content__info__screenShotViewer .dots .on {
  background-color: rgb(153, 1, 153);
}
.Project__content__info__screenShotViewer .dots .off {
  background-color: rgba(153, 1, 153, 0.5);
}
.Project__content__info .p11 {
  background-image: url("../../../images/1p1.png");
}
.Project__content__info .p12 {
  background-image: url("../../../images/1p2.png");
}
.Project__content__info .p13 {
  background-image: url("../../../images/1p3.png");
}
.Project__content__title {
  font-size: 6vh;
  padding-top: 4vh;
  padding-left: 4vh;
  padding-right: 4vh;
}
.Project__content__subtitle {
  font-size: 3vh;
  margin-top: 2vh;
  padding-left: 4vh;
  padding-right: 4vh;
}
.Project__waves {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  z-index: -50;
}
.Project__waves__wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: url("../../wave.png");
  background-size: 300% 100%;
}
.Project__waves .wave1 {
  animation: animate1 linear infinite 30s;
  bottom: 0;
}
.Project__waves .wave2 {
  animation: animate2 linear infinite 20s;
  opacity: 0.5;
  animation-delay: -1s;
  height: 45%;
}
.Project__waves .wave3 {
  animation: animate1 linear infinite 30s;
  opacity: 0.2;
  animation-delay: -3s;
  height: 50%;
}
.Project__waves .wave4 {
  animation: animate2 linear infinite 15s;
  opacity: 0.7;
  animation-delay: -6s;
  height: 48%;
}
@keyframes animate1 {
  0% {
    background-position-x: 0%;
  }
  50% {
    background-position-x: 100%;
  }
  100% {
    background-position-x: 0%;
  }
}
@keyframes animate2 {
  0% {
    background-position-x: 0%;
  }
  50% {
    background-position-x: -100%;
  }
  100% {
    background-position: 0%;
  }
}

.left {
  margin-left: 40vw;
}

.right {
  margin-left: 10vh;
}

.leftText {
  text-align: left;
}

.rightText {
  text-align: right;
}/*# sourceMappingURL=Project.css.map */