.Wrapper {
  position: relative;
  z-index: 10;
  background-color: #322f33;
  border-radius: 5vh;

  @media screen and (orientation : portrait) {
    width : 100vw;
    height : 100vh;
    margin : 0;
    border-radius: 0;
    background-color: rgba(50, 47, 51,0.4);
  }
}


