.About {
  width: 100vh;
  height: 80vh;
  position: fixed;
  z-index: 10;
  margin-left: 45vw;
  margin-top: 10vh;
  transform: translateX(100vw);
  opacity: 0;
}
@media screen and (max-width: 1100px) {
  .About {
    margin-left: 22vw;
  }
}
@media screen and (max-width: 1366px) and (min-width: 1280px) {
  .About {
    margin-left: 37vw;
  }
}
@media screen and (min-width: 1367px) and (max-width: 1500px) {
  .About {
    margin-left: 35vw;
  }
}
@media screen and (orientation: portrait) {
  .About {
    margin: 0;
    width: 100vw;
    height: 100vh;
  }
}
.About__content {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1000;
}
@media screen and (orientation: portrait) {
  .About__content {
    margin: 0;
    width: 100vw;
    height: 100vh;
  }
}
.About__content__title {
  font-size: 5vh;
  padding-top: 4vh;
  padding-left: 4vh;
  padding-bottom: 10vh;
}
.About__content__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50vw;
  margin-left: 4vh;
}
@media screen and (orientation: portrait) {
  .About__content__info {
    position: fixed;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
    margin: 0;
  }
}
.About__content__info__art {
  width: 70%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 1100px) {
  .About__content__info__art {
    position: fixed;
    transform: translateX(25vh);
  }
}
@media screen and (min-width: 1367px) and (max-width: 1500px) {
  .About__content__info__art {
    position: fixed;
    transform: translateX(25vh);
  }
}
@media screen and (orientation: portrait) {
  .About__content__info__art {
    width: 80%;
    height: auto;
    transform: translateX(0vh) translateY(-5vh);
  }
}
.About__content__info__art__text {
  width: 100%;
  max-width: 80%;
  height: 30vh;
  font-size: 2.7vh;
  height: auto;
}
@media screen and (max-width: 1100px) {
  .About__content__info__art__text {
    font-size: 2.65vh;
  }
}
@media screen and (max-width: 1366px) and (min-width: 1280px) {
  .About__content__info__art__text {
    font-size: 2.5vh;
  }
}
@media screen and (min-width: 1367px) and (max-width: 1500px) {
  .About__content__info__art__text {
    font-size: 2.63vh;
  }
}
@media screen and (orientation: portrait) {
  .About__content__info__art__text {
    font-size: 1.9vh;
    max-width: 100%;
    width: 100%;
    height: auto;
    text-align: center;
  }
}
.About__content__info__art__Buttons {
  width: 45vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5vh;
}
@media screen and (orientation: portrait) {
  .About__content__info__art__Buttons {
    width: 100%;
    margin-top: 4vh;
  }
}
.About__content__info__art__Buttons__btn {
  height: 3vh;
  width: 20vh;
  color: white;
  background-color: rgb(153, 1, 153);
  cursor: pointer;
  border: none;
  border-radius: 2vh;
  font-size: 2vh;
}
@media screen and (orientation: portrait) {
  .About__content__info__art__Buttons__btn {
    height: 4vh;
    width: 32vw;
  }
}
.About__content__info__img {
  width: 22vh;
  height: 30vh;
  border: none;
  position: relative;
}
.About__content__info__img .avatar {
  width: 22.4vh;
  height: 30vh;
}
@media screen and (orientation: portrait) {
  .About__content__info__img {
    width: 13vh;
    height: 19vh;
    transform: translateY(-10vh);
  }
  .About__content__info__img .avatar {
    width: 15vh;
    height: 20vh;
  }
}
.About__content__info__img::after {
  content: "";
  width: 7vh;
  height: 7vh;
  position: absolute;
  right: 0;
  bottom: 0;
  border-right: solid rgb(153, 1, 153) 0.8vh;
  border-bottom: solid rgb(153, 1, 153) 0.8vh;
}
.About__content__info__img::before {
  content: "";
  width: 7vh;
  height: 7vh;
  position: absolute;
  top: 0;
  left: 0;
  border-left: solid rgb(153, 1, 153) 0.8vh;
  border-top: solid rgb(153, 1, 153) 0.8vh;
}
.About__waves {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.About__waves__wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: url("../wave.png");
  background-size: 300% 100%;
}
.About__waves .wave1 {
  animation: animate1 linear infinite 30s;
  bottom: 0;
}
.About__waves .wave2 {
  animation: animate2 linear infinite 20s;
  opacity: 0.5;
  animation-delay: -1s;
  height: 45%;
}
.About__waves .wave3 {
  animation: animate1 linear infinite 30s;
  opacity: 0.2;
  animation-delay: -3s;
  height: 50%;
}
.About__waves .wave4 {
  animation: animate2 linear infinite 15s;
  opacity: 0.7;
  animation-delay: -6s;
  height: 48%;
}
@keyframes animate1 {
  0% {
    background-position-x: 0%;
  }
  50% {
    background-position-x: 100%;
  }
  100% {
    background-position-x: 0%;
  }
}
@keyframes animate2 {
  0% {
    background-position-x: 0%;
  }
  50% {
    background-position-x: -100%;
  }
  100% {
    background-position: 0%;
  }
}/*# sourceMappingURL=About.css.map */